<!--Tabla recomendacion-->				
				<div class="table-responsive">
					<table class="table table-striped table-bordered" id="render_me">
						<thead class="bg-color-{{cultivoIndexData.verbose}} cultivo-table-programa-head">
							

							<tr colspan="" rowspan="" headers="" scope="">					
								<td colspan="" rowspan="2" headers="">Fertilizante</td>
								<td colspan="" rowspan="2" headers="">Kg x Ha x Ciclo </td>
								<td colspan="18" rowspan="" headers="">
									Distribucion del Fertilizante (Semanas / Días)
								</td>
							</tr>

							<tr colspan="" rowspan="" headers="" scope="">							
								<td colspan="" rowspan="" headers="">Sem 1 / 7</td>
								<td colspan="" rowspan="" headers="">Sem 2 / 14</td>
								<td colspan="" rowspan="" headers="">Sem 3 / 21</td>
								<td colspan="" rowspan="" headers="">Sem 4 / 28</td>
								<td colspan="" rowspan="" headers="">Sem 5 / 35</td>
								<td colspan="" rowspan="" headers="">Sem 6 / 42</td>
								<td colspan="" rowspan="" headers="">Sem 7 / 49</td>
								<td colspan="" rowspan="" headers="">Sem 8 / 56</td>
								<td colspan="" rowspan="" headers="">Sem 9 / 63</td>
								<td colspan="" rowspan="" headers="">Sem 10 / 70</td>
								<td colspan="" rowspan="" headers="">Sem 11 / 77</td>
								<td colspan="" rowspan="" headers="">Sem 12 / 84</td>
								<td colspan="" rowspan="" headers="">Sem 13 / 91</td>
								<td colspan="" rowspan="" headers="">Sem 14 / 98</td>
								<td colspan="" rowspan="" headers="">Sem 15 / 105</td>
								<td colspan="" rowspan="" headers="">Sem 16 / 112</td>
								<td colspan="" rowspan="" headers="">Sem 17 / 119</td>
								<td colspan="" rowspan="" headers="">Sem 18 / 126</td>
							</tr>
							

							



						</thead>

						<tbody>
							<tr ng-repeat="elemento in programaTablaDataDistribucion">

								<td class="cultivo-table-programa-producto" colspan="" rowspan="" headers="">
								
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.producto}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.producto}}
										</span>
								</td>
	
								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.kgEtapa}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.kgEtapa}}
										</span>
								</td>


								<td colspan="" rowspan="" headers="">
								
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[0]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[0]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
								
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[1]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[1]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[2]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[2]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[3]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[3]}}
										</span>
								</td>
								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[4]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[4]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[5]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[5]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[6]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[6]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[7]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[7]}}
										</span>
								</td>
								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[8]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[8]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[9]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[9]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[10]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[10]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[11]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[11]}}
										</span>
								</td>
								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[12]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[12]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[13]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[13]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[14]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[14]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[15]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[15]}}
										</span>
								</td>
								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[16]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[16]}}
										</span>
								</td>

								<td colspan="" rowspan="" headers="">
									
									<span ng-if='elemento.producto!="Total Aporte Etapa" ' 	>						
											{{elemento.semanas[17]}}
										</span>

										<span ng-if='elemento.producto=="Total Aporte Etapa" ' class="cultivo-table-programa-total">						
											{{elemento.semanas[17]}}
										</span>
								</td>

						
								
							</tr>

						</tbody>
					</table>
				</div> 
				
				<div ng-if="(programas.length<1)">
					<h5  ng-if="(cultivo.etapas.length <1)"><span class="glyphicon glyphicon-stop"></span>{{strings.app_sin_informacion}}</h5>
				</div>

				<!--Tabla recomendacion-->