<div class="basicContent">
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 cultivo-img-bg-pimiento">
	    <img class="producto-sacos" src="src/img/cultivos/pimiento.png">
	</div>

	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
		<div class="row">
			<!--Content protafolio cultivos-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4><span class="glyphicon glyphicon-stop"></span> Seleccionar Productos relacionados</h4>

				<!--productos relacionados -->
				<div class="row row-clear">

					<!-- producto -->
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="producto in productosEnCultivo">
						<a href="">

						{{producto.nombre}}
						</a>
					</div>

					
				</div>
				<!-- productos relacionados-->
				
			</div>

		</div>
	</div>
</div>

