<!--Content protafolio cultivos-->
              <div class="row cultivo-informacion">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 texto" id="cultivo-principal-div">
                
                <div class="basicContent">
                  <!--primer texto -->
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, provident, laudantium! Autem sit magnam culpa veritatis, praesentium porro blanditiis! Quas recusandae at, voluptates velit excepturi quidem iusto adipisci nemo pariatur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum voluptate dolores rerum illo assumenda dolor minima illum iste, error, maiores reiciendis, mollitia suscipit beatae, voluptatem aut excepturi alias pariatur. </p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, earum error a illo distinctio doloribus, blanditiis deleniti delectus recusandae aperiam! Aut recusandae nulla modi maxime dignissimos ad maiores adipisci sint. </p>
                  <!--/ end primer texto -->
                </div>
                
                
                <a class="btn btn-link btn-block" id="revelar-extraContent" data-estado="false" data-toggle="collapse" href="#extraContent" aria-expanded="false" aria-controls="extraContent" >
                  
                  <span id="revelar-extraContent-icon" class="glyphicon  glyphicon-triangle-bottom" aria-hidden="true"></span>
                  
                  
                </a>
                
                <div class="collapse" id="extraContent">
                    <!--repetir primer texto -->
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, provident, laudantium! Autem sit magnam culpa veritatis, praesentium porro blanditiis! Quas recusandae at, voluptates velit excepturi quidem iusto adipisci nemo pariatur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum voluptate dolores rerum illo assumenda dolor minima illum iste, error, maiores reiciendis, mollitia suscipit beatae, voluptatem aut excepturi alias pariatur. </p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, earum error a illo distinctio doloribus, blanditiis deleniti delectus recusandae aperiam! Aut recusandae nulla modi maxime dignissimos ad maiores adipisci sint. </p>
                    <!--/ end repetir primer texto -->

                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sunt facere assumenda harum illo delectus hic tenetur culpa. Similique voluptatibus, distinctio accusamus, excepturi dolores voluptate dicta. Mollitia, eveniet quidem ipsa. </p>

                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, minima, enim! Quis incidunt quo aut voluptatum nisi pariatur modi ab. Minima blanditiis distinctio velit inventore praesentium ex culpa porro nesciunt. </p>

                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsam, ab nesciunt doloremque tenetur dolor minima, sunt mollitia consequatur porro ipsa illo expedita voluptas delectus voluptatem aperiam! Exercitationem, debitis nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa quasi natus, a debitis nam labore et blanditiis itaque maxime, fuga reprehenderit perspiciatis quisquam similique quia consectetur ut quaerat recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptas, optio exercitationem amet ducimus itaque quam esse reiciendis. Quidem debitis quis cupiditate veritatis libero, eveniet aut facere. Totam, magni, ratione? </p>
                  
                </div>
              </div>
              </div>
              <!-- end content portafolio Productos-->
      <script type="text/javascript">


               /* $("#revelar-extraContent").click(function(){
                    var sttus = $("#revelar-extraContent").attr( "data-estado" );
                    if(sttus=="false")
                    {
                      
                      $(".basicContent").hide();
                      
                      $("#revelar-extraContent").attr({
                          "data-estado" : "true",
                      });

                      $("#revelar-extraContent-icon").attr({
                          "class" : "glyphicon  glyphicon-triangle-top"
                      });
                      
                    }else{
                      
                      $(".basicContent").show();
                      
                      $("#revelar-extraContent").attr({
                          "data-estado" : "false",
                      });
                      
                      $("#revelar-extraContent-icon").attr({
                          "class" : "glyphicon  glyphicon-triangle-bottom"
                      });
                      
                    }
                    
                });*/
                /*$("revelar-extraContent").click(function(){
                    var sttus= $("revelar-extraContent").attr( "data-estado" );
                    alert(sttus);
                });*/
      </script>