	<!--allganic -->  
	<style type="text/css" media="screen">

		#menuPrincipal-allganic-granjero{


			position: absolute;
			/* float: right; */
			max-height: 60%;
			top: 5.5em;
			right: 7em;
		}
		#menuPrincipal-allganic-btn{
			display: block;
			width: 100%;
			height: 100%;
		}
		#menuPrincipal-allganic-span{
			color: white !important;
			line-height: 4.4em;
			font-weight: 500;
			padding: 0 .3em 0 .3em;
			font-size: 1.4em;
		}
		#menuPrincipal-allganic-logo{
			/* float: right; */
			max-width: 8em;
			top: 6em;
			right: .5em;
			position: absolute;
		}
		.allganic-especial{
			/*max-height: 6em; */
		}

	</style>

	<div class="row">
		<div class="col-md-12">  
			<img class="menuPrincipal-productos-marca-icon pull-left hidden-xs" src="src/img/icons/marcas/{{mercado.id}}/img_allganic1.png">		
		</div>             
	</div>
	<div class="row color-allganic allganic-especial">
		<a href="#allganic" id="menuPrincipal-allganic-btn">
		 <span id="menuPrincipal-allganic-span" class="">Conozca nuestra linea de productos organicos Aqui.</span>
		<img id="menuPrincipal-allganic-logo" src="src/img/icons/marcas/{{mercado.id}}/img_allganic1.png">	
		<img id="menuPrincipal-allganic-granjero" class="hidden-xs" src="src/img/icons/marcas/{{mercado.id}}/img_granjeroallganic.png">	</a>
		
	</div>
