<!--MODAL TEMPLATE -->
<!-- Modal -->
<div class="modal fade mainModal-central" id="mainModalCentral" tabindex="-1" role="dialog" aria-labelledby="mainModalCentralLabel" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <a type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&nbsp;
              <img style="height:1.4em;" src="src/img/icons/cerrar-blanco.png">
            </span>
          </a>
          <img class="mainModal-central-title-icon" src="src/img/icons/{{lineaActiva.img}}">
          <h2 class="modal-title" id="mainModalCentralLabel">
           {{lineaActiva.nombre | to_trusted}}
         </h2>
       </div>
       <div class="modal-body">                
        <a class="btn btn-block btn-link mainModal-btn-link" ng-href="#/producto/{{producto.id}}" ng-repeat="producto in lineaActiva.productos" id="mainModal-producto-{{producto.id}}">
          {{producto.nombre | to_trusted}}
        </a>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>