        <!-- Modal -->
        <div class="modal fade mainModal-cultivo" id="mainModal-cultivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4><span class="glyphicon glyphicon-stop"></span> Programa nutricional:</h4>
              </div>
              <div class="modal-body">
                <!--content body-->
                    <div class="row">
                      <!--Content protafolio cultivos-->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        

                        <!--cultivos row1-->
                        <div class="row">
                          

                          <!-- cultivo Col-->
                         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-include = "'templates/cultivo/clvo_simbologiaBtn.html'" ng-repeat=" n in [1,2,3,4,5,6,7,8,9]">                        
                                </div>

     
                        </div>


                        <!--row Tabla-->
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                              <table class="table table-hover">
                                
                                <tbody>
                                  <!--Aplicacion 1-->
                                  <tr>
                                    <td class="td-base td-etapa">
                                      <div class="  ">Aplicación Base</div>
                                    </td>
                                    <td class="td-base td-producto">
                                      <div class="">
                                      Qrop KS<br>
                                      Qrop KS<BR>
                                      Qrop KS<BR>
                                      </div>
                                    </td>
                                    <td class=" td-base td-num-aplicaciones">
                                      <div class="">
                                      1
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-kg">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-total">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-nitrogeno">
                                      <div class="">
                                      88
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-fosforo">
                                      <div class="">
                                      124
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-potasio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-calcio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                  </tr>

                                  <!--Aplicacion 1-->
                                  <tr>
                                    <td class="td-base td-etapa">
                                      <div class="  ">Aplicación Base</div>
                                    </td>
                                    <td class="td-base td-producto">
                                      <div class="">
                                      Qrop KS<br>
                                      </div>
                                    </td>
                                    <td class=" td-base td-num-aplicaciones">
                                      <div class="">
                                      1
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-kg">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-total">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-nitrogeno">
                                      <div class="">
                                      88
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-fosforo">
                                      <div class="">
                                      124
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-potasio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-calcio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                  </tr>

                                  <!--Aplicacion 1-->
                                  <tr>
                                    <td class="td-base td-etapa">
                                      <div class="  ">Aplicación Base</div>
                                    </td>
                                    <td class="td-base td-producto">
                                      <div class="">
                                      Qrop KS<br>
                                      Qrop KS<BR>
                                      </div>
                                    </td>
                                    <td class=" td-base td-num-aplicaciones">
                                      <div class="">
                                      1
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-kg">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-total">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-nitrogeno">
                                      <div class="">
                                      88
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-fosforo">
                                      <div class="">
                                      124
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-potasio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-calcio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                  </tr>

                                  <!--Aplicacion 1-->
                                  <tr>
                                    <td class="td-base td-etapa">
                                      <div class="  ">Aplicación Base</div>
                                    </td>
                                    <td class="td-base td-producto">
                                      <div class="">
                                      Qrop KS<br>
     
                                      </div>
                                    </td>
                                    <td class=" td-base td-num-aplicaciones">
                                      <div class="">
                                      1
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-kg">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-aplicacion-total">
                                      <div class="">
                                      400
                                      </div>
                                    </td>
                                    <td class="td-base td-nitrogeno">
                                      <div class="">
                                      88
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-fosforo">
                                      <div class="">
                                      124
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-potasio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                    <td class="td-base td-oxido-calcio">
                                      <div class="">
                                      0
                                      </div>
                                    </td>
                                  </tr>
        

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!--row Tabla-->


                        <div class="row">
                          <a href="#" class="btn btn-link btn-block btn-cultivo-modal-compartir">
                            <img src="src/img/icons/compartir-blanco.png"><br>
                            <span>Compartir<span></a>
                        </div> 
                      </div>

                    </div>
                <!--Content Body-->
            </div>
          </div>
        </div>